.env
docker.env

config.py
data/
notebooks/

# Python bytecode
__pycache__/
*.py[cod]
*.txt
*.bak
*.dat
*.dir

# Test / coverage
.coverage
*.coverage
.pytest_cache/


# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db
